{% extends "layout.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Dashboard</h1>
        <br/>
        <!-- Begin Quick Expense -->
        <div class="row">
            <div class="col-6">
                <a class="btn btn-outline-success btn-block btn-lg"
                   href={{ url_for('add_expenses', value='quick') }} role="button">Quick Expense</a>
            </div>
            <div class="col-6">
                <a class="btn btn-outline-success btn-block btn-lg"
                   href={{ url_for('add_incomes', value='quick') }} role="button">Quick Income</a>
            </div>
        </div>
        <br>

        <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align:left">Your Finances Summary</h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header"><strong>Monthly Expenses</strong></div>
                    <div class="card-body">
                        <h4 class="card-title">{{ monthly_expenses }} {{ currency }}</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header"><strong>Monthly Incomes</strong></div>
                    <div class="card-body">
                        <h4 class="card-title">{{ monthly_incomes }} {{ currency }}</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header"><strong>Weekly Expenses</strong></div>
                    <div class="card-body">
                        <h4 class="card-title">{{ weekly_expenses }} {{ currency }}</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><strong>Weekly Incomes</strong></div>
                    <div class="card-body">
                        <h4 class="card-title">{{ weekly_incomes }} {{ currency }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-12">
                <h2 style="text-align:left">Your Monthly Budgets Summary</h2>
            </div>
        </div>
        <br>

        <div class="row">
        {% for budget in budgets %}
            <div class="col">
            {% if budget[2]-budget[1] > 0 %}
                <div class="card border-success mb-3">
            {% else %}
                {% if budget[2]-budget[1] < 0 %}
                    <div class="card border-danger">
                {% else %}
                    <div class="card border-warning">
                {% endif %}
            {% endif %}
        <div class="card-header"><strong>{{ budget[0].name }}</strong></div>
        <div class="card-body">
            <h4 class="card-title">Balance: {{ budget[2]-budget[1] }} {{ currency }}</h4>

            <ul style="text-align:left">
                <li><strong>Expenses</strong>: {{ budget[1] }} {{ currency }}
                </li>
                <li><strong>Incomes</strong>: {{ budget[2] }} {{ currency }}
                </li>
            </ul>
        </div>
        </div>
        </div>


        <!-- if last column in row -->
        {% if loop.index%4 == 0 and not loop.last %}
            </div>
            <div class="row mt-5">
        {% endif %}


        {% endfor %}
    </div>

    <br>

    <div class="row">
        <div class="col-12">
            <h2 style="text-align:left">Last Expenses</h2>
        </div>
    </div>
    <p class="small" style="text-align:left"><a href={{ url_for('expenses_history') }}>(view all expense
        history)</a>
    </p>
    <div>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Budget</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% if expenses %}
                {% for result in expenses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ result.budget.__str__() }}</td>
                        <td>{{ result.description }}</td>
                        <td>{{ result.category.__str__() }}</td>
                        <td>{{ result.date }}</td>
                        <td>{{ result.amount }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <th>Nr</th>
                <th>Budget</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <br>

    <div class="row">
        <div class="col-12">
            <h2 style="text-align:left">Last Incomes</h2>
        </div>
    </div>
    <p class="small" style="text-align:left"><a href={{ url_for('incomes_history') }}>(view all income
        history)</a>
    </p>
    <div>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Budget</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% if incomes %}
                {% for result in incomes %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ result.budget.__str__() }}</td>
                        <td>{{ result.description }}</td>
                        <td>{{ result.category.__str__() }}</td>
                        <td>{{ result.date }}</td>
                        <td>{{ result.amount }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <th>Nr</th>
                <th>Budget</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </tfoot>
        </table>
    </div>
    </div>
    {% endif %}

{% endblock %}