{% extends "layout.html" %}

{% block content %}

 <h1>Reports</h1>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Daily Transactions</h5>
            <p>View your day-over-day transactions.</p>
            <a href="{{ url_for('report_daily') }}" class="btn btn-primary">View Report</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Monthly Transactions</h5>
            <p>View your month-over-month transactions.</p>
            <a href="{{ url_for('report_monthly') }}" class="btn btn-primary">View Report</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Transactions Categories Summary</h5>
            <p>View your all-time transactions divided by categories.</p>
            <a href="{{ url_for('report_categories') }}" class="btn btn-primary">View Report</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Day by day budget balances</h5>
            <p>View your budgets balances day by day.</p>
            <a href="{{ url_for('report_budgets') }}" class="btn btn-primary">View Report</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}