{% extends "layout.html" %}

{% block styles %}
    <!--Data Tables Plugins (export buttons)-->
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--Data Tables Plugins (export buttons)-->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
{% endblock %}

{% block content %}

    <h1>Categories Report</h1>
    <br>
    <div class="jumbotron" style="padding:2rem 1rem">
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header"><strong>Expense Categories</strong></div>
                    {% if expense_sum > 0 %}
                        <div class="card-body-dash">
                            <div id="donutchartExpense" style="width: 28rem; height: 28rem; padding: 0px"></div>
                            <div id="donutchartExpenseDownload" type="hidden"></div>
                        </div>
                        <div class="card-footer">
                            <a id="downloadCategoriesExpenseJPG" download="ExpenseCategoriesReport.jpg" href=""
                               class="btn btn-primary float-right bg-flat-color-1 mr-2">
                                <i class="fa fa-download"></i> JPG
                            </a>

                            <a id="downloadCategoriesExpensePNG" download="ExpenseCategoriesReport.png" href=""
                               class="btn btn-primary float-right bg-flat-color-1 mr-2">
                                <i class="fa fa-download"></i> PNG
                            </a>
                        </div>
                    {% else %}
                        <div class="card border-danger">
                            <div class="card-body">
                                <h4 class="card-title">You don't have any expenses!</h4>
                                <p class="card-text">Add expenses to your budgets to display information in
                                    this section!</p>
                                <a class="btn btn-outline-info"
                                   href={{ url_for('add_expenses') }} role="button">Add Expense</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header"><strong>Income Categories</strong></div>
                    {% if income_sum > 0 %}
                        <div class="card-body-dash">
                            <div id="donutchartIncome" style="width: 28rem; height: 28rem; padding: 0px"></div>
                            <div id="donutchartIncomeDownload" type="hidden"></div>
                        </div>
                        <div class="card-footer">
                            <a id="downloadCategoriesIncomeJPG" download="IncomeCategoriesReport.jpg" href=""
                               class="btn btn-primary float-right bg-flat-color-1 mr-2">
                                <i class="fa fa-download"></i> JPG
                            </a>

                            <a id="downloadCategoriesIncomePNG" download="IncomeCategoriesReport.png" href=""
                               class="btn btn-primary float-right bg-flat-color-1 mr-2">
                                <i class="fa fa-download"></i> PNG
                            </a>
                        </div>
                    {% else %}
                        <div class="card border-danger">
                            <div class="card-body">
                                <h4 class="card-title">You don't have any incomes!</h4>
                                <p class="card-text">Add incomes to your budgets to display information in
                                    this section!</p>
                                <a class="btn btn-outline-info"
                                   href={{ url_for('add_incomes') }} role="button">Add Income</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/reportcategories.js"></script>

    <script>
    $(document).ready(function () {
        drawCategoriesChart({{ income_categories|safe }}, {{ expense_categories|safe }});
    });
    </script>
{% endblock %}