{% extends "layout.html" %}

{% block scripts %}
    <!--Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}

    <h1>Day by day total Budgets balance</h1>
    <br>
    <div class="jumbotron" style="padding:2rem 1rem">
        <div class="row">
            <div class="col">
                <div class="card border-secondary">
                    <div class="card-header"><strong>Budgets total balance</strong></div>
                    {% if budgets_days_labels %}
                        <div class="card-body-dash">
                            <canvas id="budgetsChart"></canvas>
                        </div>
                        <div class="card-footer">
                            <a id="downloadBudgetReport" download="BudgetsBalanceReport.jpg" href=""
                               class="btn btn-primary float-right bg-flat-color-1 mr-2">
                                <i class="fa fa-download"></i> JPG
                            </a>

                            <a id="downloadBudgetReportPNG" download="BudgetsBalanceReport.png" href=""
                               class="btn btn-primary float-right bg-flat-color-1 mr-2">
                                <i class="fa fa-download"></i> PNG
                            </a>
                        </div>
                    {% else %}
                        <div class="card border-danger">
                            <div class="card-body">
                                <h4 class="card-title">You don't have any transactions!</h4>
                                <p class="card-text">Add transactions to your budgets to display information in
                                    this section!</p>
                                <a class="btn btn-outline-info"
                                   href={{ url_for('add_expenses') }} role="button">Add Expense</a>
                                <a class="btn btn-outline-info" href={{ url_for('add_incomes') }} role="button">Add
                                    Income</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/reportbudgets.js"></script>

    <script>
        drawBudgetsChart({{ budgets_days_labels|safe }}, {{ budgets_days_data|safe }})
    </script>
{% endblock %}