{% extends "layout.html" %}

{% block scripts %}
    <!--Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}

    <h1>Last month's daily Transactions Report</h1>
    <br>
    <div class="jumbotron" style="padding:2rem 1rem">
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header"><strong>Last month's Expenses</strong></div>
                    <div class="card-body-dash">
                        <canvas id="dailyExpenseChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>

    <div class="jumbotron" style="padding:2rem 1rem">
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header"><strong>Last month's Incomes</strong></div>
                    <div class="card-body-dash">
                        <canvas id="dailyIncomeChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>


    <script>
        var ctxIncome = document.getElementById('dailyIncomeChart').getContext('2d');
        var chartIncome = new Chart(ctxIncome, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: {{ daily_labels|safe }},
                datasets: [{
                    label: 'Daily Incomes',
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: 'rgba(0, 102, 0, 1)',
                    borderColor: 'rgba(0, 51, 0, 1)',
                    data: {{ daily_incomes|safe }}
                }]
            },

            // Configuration options go here
            options: {}
        });

        var ctxExpense = document.getElementById('dailyExpenseChart').getContext('2d');
        var chartExpense = new Chart(ctxExpense, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: {{ daily_labels|safe }},
                datasets: [{
                    label: 'Daily Expenses',
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: 'rgba(255, 128, 0, 1)',
                    borderColor: 'rgba(204, 102, 0, 1)',
                    data: {{ daily_expenses|safe }}
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>
{% endblock %}